<!-- Footer-->
<footer class="container mb-10 {{configClassList}} {{classList}}">
    <ul class="list-unstyled d-flex mt-5 mb-4" data-aos="fade-up">
		<li class="me-7"><a class="text-body text-decoration-none" href="https://www.github.com/rouali98">Github</a></li>
		<li class="me-7"><a class="text-body text-decoration-none" href="https://www.twitter.com/rouali98">Twitter</a></li>
		<li class="me-7"><a class="text-body text-decoration-none" href="https://www.linkedin.com/in/rouali98">LinkedIn</a></li>
		<li class="me-7"><a class="text-body text-decoration-none" href="https://www.instagram.com/rouali98">Instagram</a></li>
	</ul>

    <p class="text-muted" data-aos="fade-up">All rights reserved. © Ouali Rida 2022. Template made with ❤️️ by <a href="https://www.github.com/rouali98">Pixel Rocket</a></p>

</footer>
<!-- / Footer-->

<!-- Modal Imports-->
{{> modals/modals }}
<!-- / Modal Imports-->

<!-- Slideout-->
{{> slideout/slideout }}
<!-- / Slideout -->
